language: minimal

dist: xenial
addons:
  apt:
    packages:
    - realpath

jobs:
  include:
   # EDA Tools - Bitstream Tool
   - stage: "EDA Tools"
     env:
     - PACKAGE=bit/icestorm

   - stage: "EDA Tools"
     env:
     - PACKAGE=bit/prjtrellis

   # EDA Tools - Synthesis
   - stage: "EDA Tools"
     env:
     - PACKAGE=syn/yosys

   # EDA Tools - Place and Route
   - stage: "EDA Tools"
     env:
     - PACKAGE=pnr/arachne

   - stage: "EDA Tools"
     env:
     - PACKAGE=pnr/nextpnr/ice40

   - stage: "EDA Tools"
     env:
     - PACKAGE=pnr/nextpnr/ecp5

   - stage: "EDA Tools"
     env:
     - PACKAGE=pnr/nextpnr/generic

#   - stage: "EDA Tools"
#     env:
#     - PACKAGE=pnr/vtr                 CONDA_CHANNELS=conda-forge

   # EDA Tools - Simulation
   - stage: "EDA Tools"
     env:
     - PACKAGE=sim/icarus

   - stage: "EDA Tools"
     env:
     - PACKAGE=sim/verilator

before_install:
 - source $TRAVIS_BUILD_DIR/.travis/common.sh
 - bash $TRAVIS_BUILD_DIR/.travis/fixup-git.sh
 - source $TRAVIS_BUILD_DIR/.travis/common.sh

install:
 - ./.travis/install.sh

script:
 - bash $TRAVIS_BUILD_DIR/.travis/script.sh

after_failure:
 - bash $TRAVIS_BUILD_DIR/.travis/after_failure.sh

after_success:
 - bash $TRAVIS_BUILD_DIR/.travis/after_success.sh

cache:
  directories:
   - /home/travis/.conda/pkgs
