# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "fSZ21IMfoGVS4/DGNo3VXg1GDCNhCp9zSP95fUspPL2eG963ODFuSJhtA7M5uZZhvjArNpA01jXkxRI0hsAZ3wOhAfCfq59BjUVUm3xWRD2VQl7Um7mtWD7Dk8BkzitzKEWYsMFJ+SwyvcBwLthxmtbMGOcnGAVGbc2g13fh0JsuEXAWAO6GEddl2BES9Y2Z5P9V6jQhVxdQ8ANARtbbii6KGl4VsCHdB3wkX43fLeKmD3HapeQcoUFk5+XUHTDchYQM90JAUQ5IEKu0bCbJt/CQlJVuQUS3UxZsVs3e5sN0saBoBAvpogLggazGaH7s8Q58JCAe5/byRlZQUZJJhIuR2XhQAIrssWpVW/YDEOgpScpzTz4nS+tGygONCOKL2zQ7rswykBomyAv4d1ftzyMrw/dWJ+r6ZMMg+Jzq+mgN5pqDDcPsqr5ZMwaPtH0LZYmqjCix80YmF9CUpQiFx+kTsna70hlgyxrJoIy90EINeImU98jn4DB4SUgTQ2LCbYFWjffY0bt9DMBwbVtGSPqvS7SIJF0E/2o2aVDwYQHmkZUVHTa78D8Sm+NVryynjZvnZzlqKWvA+R1rPj8GvO92dBlIDnJxJyYDJ01jEV/oCockgC9TusERSLDci21mrwoXDlziy0RsvYTTEgIPFSkQIQsG/J+O7ltazeBYVhE="


before_install:
    - brew remove --force $(brew list)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda config --set show_channel_urls true
      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
