language: shell

addons:
  homebrew:
    packages:
    update: false

stages:
  - name: "No dependencies" # Doesn't depend on anything apart from upstream packages
    if: type != cron
  - name: "Has first level dependencies" # Depends on a package in the "no dependencies" group
    if: type != cron
  - name: "Has second level dependencies" # Depends on a package in the "Has first level dependencies" group
    if: type != cron
  - name: "Main label upload" # Puts Anaconda packages to the main label
    if: type = push AND branch = master
  - name: "Cleanup" # Job for removing old Anaconda labels
    if: type = cron

jobs:
 include:
 # EDA Tools - Misc
  # Linux
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=misc/magic

 # EDA Tools - Bitstream Tools
  # Linux
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=bit/icestorm
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=bit/prjtrellis
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=bit/prjxray-db
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=bit/prjxray-tools
  # Windows
  - stage: "No dependencies"
    os: windows
    env:
    - PACKAGE=bit/icestorm
  - stage: "No dependencies"
    os: windows
    env:
    - PACKAGE=bit/prjtrellis
  # OSX
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=bit/icestorm
  - stage: "No dependencies"
    os: osx
    env:
    - PACKAGE=bit/prjtrellis

 # EDA Tools - Simulation
  # Linux
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=sim/icarus
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=sim/verilator
  # Windows
  - stage: "No dependencies"
    os: windows
    env:
    - PACKAGE=sim/icarus
  # OSX
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=sim/icarus
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=sim/verilator

 # EDA Tools - Synthesis
  # Linux
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=syn/yosys
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=syn/quicklogic-yosys
  - stage: "Has first level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=syn/quicklogic-yosys-plugins  # Uses: iverilog, quicklogic-yosys
  - stage: "Has first level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=syn/symbiflow-yosys LIBFFI_VERSION=3.2.1  # Uses: iverilog
  - stage: "Has first level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=syn/symbiflow-yosys LIBFFI_VERSION=3.3  # Uses: iverilog
  - stage: "Has second level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=syn/symbiflow-yosys-plugins  # Uses: iverilog, symbiflow-yosys
  # Windows
  - stage: "No dependencies"
    os: windows
    env:
    - PACKAGE=syn/yosys
  - stage: "No dependencies"
    os: windows
    env:
    - PACKAGE=syn/quicklogic-yosys
  # OSX
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=syn/yosys EXTRA_BUILD_ARGS="--no-test"
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=syn/quicklogic-yosys EXTRA_BUILD_ARGS="--no-test"
  - stage: "Has first level dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=syn/quicklogic-yosys-plugins  # Uses: iverilog, quicklogic-yosys
  - stage: "Has first level dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=syn/symbiflow-yosys LIBFFI_VERSION=3.2.1  # Uses: iverilog
  - stage: "Has first level dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=syn/symbiflow-yosys LIBFFI_VERSION=3.3  # Uses: iverilog
  - stage: "Has second level dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=syn/symbiflow-yosys-plugins  # Uses: iverilog, symbiflow-yosys

 # EDA Tools - Place and Route
  # Linux
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/vtr
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/vtr-gui
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/symbiflow-vtr
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/symbiflow-vtr-gui
  - stage: "Has first level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/quicklogic-vtr  # Uses: vtr
  - stage: "Has first level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/quicklogic-vtr-gui  # Uses: vtr-gui
  - stage: "Has second level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/arachne  # Uses: icestorm, iverilog, symbiflow-yosys
  - stage: "Has second level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/nextpnr/ice40  # Uses: icestorm, symbiflow-yosys (run)
  - stage: "Has second level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/nextpnr/ecp5  # Uses: prjtrellis, symbiflow-yosys (run)
  - stage: "Has second level dependencies"
    os: linux
    dist: xenial
    env:
    - PACKAGE=pnr/nextpnr/generic  # Uses: symbiflow-yosys (run)
  # Windows
  - stage: "Has second level dependencies"
    os: windows
    env:
    - PACKAGE=pnr/nextpnr/ice40  # Uses: icestorm, symbiflow-yosys (run)
  - stage: "Has second level dependencies"
    os: windows
    env:
    - PACKAGE=pnr/nextpnr/generic  # Uses: symbiflow-yosys (run)
  # OSX
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=pnr/vtr
  - stage: "No dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=pnr/vtr-gui
  - stage: "Has second level dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=pnr/nextpnr/ice40  # Uses: icestorm, symbiflow-yosys (run)
  - stage: "Has second level dependencies"
    os: osx
    osx_image: xcode8.3
    env:
    - PACKAGE=pnr/nextpnr/generic  # Uses: symbiflow-yosys (run)

 # EDA Tools - Formal
  - stage: "Has first level dependencies"
    env:
    - PACKAGE=formal/symbiyosys  # Uses: yosys

 # EDA Tools - Xilinx Vivado metapackages
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
      - PACKAGE=xilinx/vivado
      - VERSIONS=$TRAVIS_BUILD_DIR/xilinx/vivado/versions
    script:
      - bash $TRAVIS_BUILD_DIR/xilinx/vivado/gen_metapackages.sh
    after_success:
      - echo "Xilinx Vivado metapackages built for versions:" && cat $VERSIONS

 # Move packages from the current label to main
  - stage: "Main label upload"
    os: linux
    dist: xenial
    script:
      - bash $TRAVIS_BUILD_DIR/.travis/master-package.sh

 # Remove old labels
  - stage: "Cleanup"
    os: linux
    dist: xenial
    script:
      - bash $TRAVIS_BUILD_DIR/.travis/cleanup-anaconda.sh

 allow_failures:
  # Often exceeds 50 mins; symbiflow-yosys isn't built for Windows
  - stage: "Has second level dependencies"
    os: windows
    env:
    - PACKAGE=pnr/nextpnr/ice40  # Uses: icestorm, symbiflow-yosys (run)
  # symbiflow-yosys isn't built for Windows
  - stage: "Has second level dependencies"
    os: windows
    env:
    - PACKAGE=pnr/nextpnr/generic  # Uses: symbiflow-yosys (run)
  - stage: "No dependencies"
    os: osx
    env:
    - PACKAGE=pnr/vtr-gui
  - stage: "No dependencies"
    os: osx
    env:
    - PACKAGE=pnr/vtr
  - stage: "No dependencies"
    os: windows
    env:
    - PACKAGE=sim/icarus
  - stage: "No dependencies"
    os: linux
    dist: xenial
    env:
      - PACKAGE=xilinx/vivado
      - VERSIONS=$TRAVIS_BUILD_DIR/xilinx/vivado/versions
    script:
      - bash $TRAVIS_BUILD_DIR/xilinx/vivado/gen_metapackages.sh
    after_success:
      - echo "Xilinx Vivado metapackages built for versions:" && cat $VERSIONS

before_install:
 - source $TRAVIS_BUILD_DIR/.travis/common.sh
 - bash $TRAVIS_BUILD_DIR/.travis/fixup-git.sh
 - bash $TRAVIS_BUILD_DIR/.travis/download_sdk.sh
 - source $TRAVIS_BUILD_DIR/.travis/common.sh

install:
 - bash $TRAVIS_BUILD_DIR/.travis/install.sh

script:
 - bash $TRAVIS_BUILD_DIR/.travis/script.sh

after_failure:
 - bash $TRAVIS_BUILD_DIR/.travis/after_failure.sh

after_success:
 - bash $TRAVIS_BUILD_DIR/.travis/after_success.sh

cache:
  directories:
   - $HOME/.conda/pkgs
