language: c

cache:
  ccache: true
  directories:
   - /tmp/really-really-really-really-really-really-really-really-really-really-really-really-really-long-path/conda/conda-bld/git_cache
   - /tmp/really-really-really-really-really-really-really-really-really-really-really-really-really-long-path/conda/conda-bld/src_cache
before_cache:
  - ./.travis/before_cache.sh

#dist: trusty
sudo: false
addons:
  apt:
    update: true
    packages:
    - autoconf
    - automake
    - build-essential
    - gperf
    - libftdi-dev
    - libudev-dev
    - libudev1
    - libusb-1.0-0-dev
    - libusb-dev
    - texinfo

before_install:
 - source .travis/common.sh

install:
 - ./.travis/install.sh

env:
  # lm32 toolchain
  - PACKAGE=lm32/binutils       CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=lm32/gcc-nostdc     CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=lm32/gcc-newlib     CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=lm32/gdb            CONDA_BUILD_VERSION=2.1.17
  # or1k toolchain
  - PACKAGE=or1k/binutils       CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=or1k/gcc-nostdc     CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=or1k/gcc-newlib     CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=or1k/gdb            CONDA_BUILD_VERSION=2.1.17
  # riscv32 toolchain
  - PACKAGE=riscv32/binutils    CONDA_BUILD_VERSION=2.1.17
  # sh2 toolchain
  - PACKAGE=sh2/binutils        CONDA_BUILD_VERSION=2.1.17
  # fx2 toolchain
  - PACKAGE=sdcc                CONDA_BUILD_VERSION=2.1.17
  # tools
  - PACKAGE=openocd             CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=flterm              CONDA_BUILD_VERSION=2.1.17
  # verilog tools
  - PACKAGE=iverilog            DATESHORT=1
  - PACKAGE=verilator           CONDA_BUILD_VERSION=2.1.17
  - PACKAGE=vtr                 DATESHORT=1  CONDA_CHANNELS=conda-forge
  - PACKAGE=yosys               DATESHORT=1

script:
  - bash $TRAVIS_BUILD_DIR/.travis/script.sh

after_failure:
  - bash $TRAVIS_BUILD_DIR/.travis/after_failure.sh

after_success:
  - bash $TRAVIS_BUILD_DIR/.travis/after_success.sh
