jobs:
- job: win_64
  pool:
    vmImage: vs2017-win2016
  timeoutInMinutes: 240
  strategy:
    maxParallel: 4
    matrix:
      win_c_compilervs2015vc14:
        CONFIG: win_c_compilervs2015vc14
        CONDA_BLD_PATH: D:\\bld\\
  steps:
    # TODO: Fast finish on azure pipelines?
    - script: |
        ECHO ON
        

    - script: |
        choco install vcpython27 -fdv -y --debug
      condition: contains(variables['CONFIG'], 'vs2008')
      displayName: Install vcpython27.msi (if needed)

    # Cygwin's git breaks conda-build. (See https://github.com/conda-forge/conda-smithy-feedstock/pull/2.)
    # - script: rmdir C:\cygwin /s /q
    #   continueOnError: true


    - powershell: |
        Set-PSDebug -Trace 1

        $batchcontent = @"
        ECHO ON
        SET vcpython=C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0

        DIR "%vcpython%"

        CALL "%vcpython%\vcvarsall.bat" %*
        "@

        $batchDir = "C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0\VC"
        $batchPath = "$batchDir" + "\vcvarsall.bat"
        New-Item -Path $batchPath -ItemType "file" -Force

        Set-Content -Value $batchcontent -Path $batchPath

        Get-ChildItem -Path $batchDir

        Get-ChildItem -Path ($batchDir + '\..')

      condition: contains(variables['CONFIG'], 'vs2008')
      displayName: Patch vs2008 (if needed)

    - task: CondaEnvironment@1
      inputs:
        packageSpecs: 'python=3.6 conda-build conda conda-forge::conda-forge-ci-setup=2' # Optional
        installOptions: "-c conda-forge"
        updateConda: false
      displayName: Install conda-build and activate environment

    - script: set PYTHONUNBUFFERED=1

    # Configure the VM
    - script: setup_conda_rc .\ .\recipe .\.ci_support\%CONFIG%.yaml
    
    # Configure the VM.
    - script: |
        run_conda_forge_build_setup
      displayName: conda-forge build setup
    run_conda_forge_build_setup

    # Special cased version setting some more things!
    - script: |
        conda.exe build recipe -m .ci_support\%CONFIG%.yaml --quiet
      displayName: Build recipe (vs2008)
      env: {
        VS90COMNTOOLS: "C:\\Program Files (x86)\\Common Files\\Microsoft\\Visual C++ for Python\\9.0\\VC\\bin",
      }
      condition: contains(variables['CONFIG'], 'vs2008')

    - script: |
        conda.exe build recipe -m .ci_support\%CONFIG%.yaml --quiet
      displayName: Build recipe
      condition: not(contains(variables['CONFIG'], 'vs2008'))

    